#release, #search-functions input, #search-functions button, #icon-total, .label, #scroll-to-top
{ display: none !important; }

#download-link { margin-bottom: 4px; }

#search-bar {
  position: inherit;
  background: var(--reset-bg);
}

#search-functions {
  display: inherit;
  padding: 0 5px;
  white-space: unset;
}

noscript div {
  font-size: clamp(0.87rem, 0.7725rem + 0.4333vw, 1rem);
  color: #fff;
  text-align: center;
  font-weight: 600;
}

noscript a {
  color: #fff;
  text-decoration: underline;
}