#release, #search-functions input, #search-functions button, #icon-total, .label, #scroll-to-top
{ display: none !important; }

#download-link { margin-bottom: 4px; }

#search-bar { position: inherit; }

#search-functions {
  display: inherit; 
  padding: 0 5px;
}

noscript div {
  font-size: clamp(0.78rem, 0.2826rem + 2.5507vw, 1rem);
  color: #fff;
  text-align: center;
  font-weight: 600;
  background: rgb(255, 82, 82);
  padding: 6px 0;
  border-radius: 10px;
}