---
layout: html_minifier
---

<!DOCTYPE HTML>
<html> 
<head>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="prefetch" href="/fonts/inter-v3-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="/fonts/inter-v3-latin-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="/fonts/iA-Writer-Duo-S-Italic-stripped.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="https://api.github.com/repos/aegis-icons/aegis-icons/releases/latest" as="fetch" crossorigin>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% include favicon-stuff.txt %}
  {% include metadata-stuff.txt %}
  <style>
    {% include sanitize.css %}
    {% include fonts.css %}
    {% include ._modules.css %}
  </style>
  <script src="/js/list.js"></script>
</head>

<body>
  {{ content }}
</body>
</html>