---
layout: html_minifier
---

<!DOCTYPE HTML>
<html> 
<head>
  <link rel="preload" href="/fonts/inter-v3-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter-v3-latin-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="/fonts/iA-Writer-Duo-S-Italic-stripped.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/css/main.css" as="style">
  <link rel="prefetch" href="/js/list.js" as="script">
  <link rel="prefetch" href="https://api.github.com/repos/aegis-icons/aegis-icons/releases/latest" as="fetch" crossorigin>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{% include sanitize.css %}</style>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{ page.title }}</title>
  {% include _favicon-stuff.txt %}
  {% include _metadata-stuff.txt %}
  <script src="/js/list.js"></script>
</head>

<body>
  {{ content }}
</body>
</html>